<?xml version="1.0"?>
<!--
/**
 * ShopGo
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Shopgo
 * @package     Shopgo_CIS
 * @author      Ammar <ammar@shopgo.me>
 * @copyright   Copyright (c) 2014 Shopgo. (http://www.shopgo.me)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <sections>
        <currency translate="label" module="directory">
            <groups>
                <yahoo_finance translate="label">
                    <label>Yahoo Finance</label>
                    <sort_order>41</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <delay translate="label">
                            <label>Connection Delay Time in Seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </delay>
                    </fields>
                </yahoo_finance>
                <google_finance translate="label">
                    <label>Google Finance</label>
                    <sort_order>42</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <timeout translate="label">
                            <label>Connection Timeout in Seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </timeout>
                        <delay translate="label">
                            <label>Connection Delay Time in Seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </delay>
                    </fields>
                </google_finance>
            </groups>
        </currency>
    </sections>
</config>
